<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Formulario de Registro</h1>
    <form method="POST">
        {% csrf_token %}
        <table border="1" >
            {{formulario}}
        </table>
        <input type="submit" value="Registrar Usuario">
        <h1 style="color: red;">
            {{error}}
        </h1>
        <h1 style="color: green;">
            {{info}}
        </h1>
    </form>
</body>
</html>